<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Tasks</h4>
                        <p class="category">Backend development</p>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let task of tasks">
                                        <td>
                                            <div class="checkbox">
                                                <input 
                                                    [id]="'checkbox' + task.id" 
                                                    type="checkbox" 
                                                    [checked]="task.checked"
                                                    (change)="toggleTask(task.id)">
                                                <label [for]="'checkbox' + task.id"></label>
                                            </div>
                                        </td>
                                        <td>{{ task.text }}</td>
                                        <td class="td-actions text-right">
                                            <button 
                                                type="button" 
                                                rel="tooltip" 
                                                title="Edit Task" 
                                                class="btn btn-info btn-simple btn-xs"
                                                (click)="editTask(task.id)">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button 
                                                type="button" 
                                                rel="tooltip" 
                                                title="Remove" 
                                                class="btn btn-danger btn-simple btn-xs"
                                                (click)="removeTask(task.id)">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>